<ul class="folder-list list-group">
  <% folders.each do |folder| %>
    <li class="folder-list-name list-group-item">
       <%= link_to folder.name.truncate(30), folder %>
    </li>
  <% end %>
  <%= paginate folders %>
</ul>