<h1>Users#show</h1>
<div>
  <table class="table table-striped table-bordered">
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>