<div class="text-center">
  <h1>Words#index</h1>
</div>

<div class="row">
  <aside class="col-sm-3">
    <h4><%= link_to 'Folder', folders_path %></h4>
      <%= render 'folders/folders', folders: @folders %>
  </aside>
  
  <div class="col-sm-9">
    
    <%= render 'words/words', words: @words %>
    
    <div class="text-center">
      <%= link_to 'word 作成', new_word_url, class: 'btn btn-primary' %> 
    </div>
  </div>
</div>